# temporary files
*.sw?

# cocoda prototype
cocoda

# ignore all directories unless explicitly specified
*/
!publications
publications/bartoc
!concordances
!concordances/**/**
!jobs
!img
!css
!js
!fonts
