# ignore temporary files
*.sw?
*~
*.DS_Store

# ignore all directories
*/

# unless explicitly specified
!img
!css
!js
!webfonts

!jobs
!contact
!partners

!kos
!kos/**/**

!services

!publications
!publications/**/**

publications/bartoc

!concordances
!concordances/**/**

!occurrences
!occurrences/**/**
