<footer>
  <div class="footer-logos">
    <img
      class="footer-logo-bsz-gbv"
      src="./images/bsz-gbv.png"
      alt="BSZ-GBV"
     >
    <img
      class="footer-logo-obvsg"
      src="./images/obvsg.png"
      alt="OBVSG"
    >
  </div>
  <div class="footer-links">
    <a href="https://www.gbv.de/impressum">Impressum</a>
    <span class="separator"></span>
    <a href="https://www.gbv.de/datenschutz">Datenschutz</a>
  </div>
</footer>
