<nav>
  <ul>
    <li class="nav-simple">
      <a href="/basisklassifikation/allgemeine-infos/">
        Allgemeine Infos
      </a>
    </li>
    <li class="dropdown">
      <a href="#">
        Basisklassifikation
        <span class="dropdown-arrow">▾</span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/basisklassifikation/ueber-die-bk/">Über die BK</a>
        </li>
        <li>
          <a href="https://uri.gbv.de/terminology/bk/">VZG Terminology</a>
        </li>
        <li>
          <a href="https://bartoc.org/en/node/18785#content">BARTOC</a>
        </li>
      </ul>
    </li>
    <li class="nav-simple">
      <a href="/basisklassifikation/anwendungsrichtlinien/">
        Anwendungsrichtlinien
      </a>
    </li>
    <li class="dropdown">
      <a href="#">
        Erschließungstools
        <span class="dropdown-arrow">▾</span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="https://services.eurospider.com/da3/login?p=k10plus">DA-3</a></li>
        <li><a href="https://coli-conc.gbv.de/coli-rich/app/">coli-rich</a></li>
        <li><a href="https://wiki.k10plus.de/spaces/K10PLUS/pages/64225355/Installationsanleitung+WinIBW3+K10plus">WinIBW</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#">
        BK-Projekte
        <span class="dropdown-arrow">▾</span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/basisklassifikation/relaunch/">BK-Relaunch</a>
        </li>
        <li><a href="/basisklassifikation/uebersetzungsprojekt/">BK-Übersetzung</a></li>
      </ul>
    </li>
  </ul>
</nav>