{% set prefix = "/de" if locale == "de" else "" %}

<nav>
  <ul>
    <li class="nav-simple">
      <a href="{{ prefix }}/basisklassifikation/uebersetzungsprojekt/">
        Home
      </a>
    </li>
    <li class="nav-simple">
      <a href="{{ prefix }}/basisklassifikation/uebersetzungsprojekt/ueber-das-projekt/">
        Über das Projekt
      </a>
    </li>
    <li class="nav-simple">
      <a href="{{ prefix }}/basisklassifikation/uebersetzungsprojekt/teilnehmende-institutionen/">
        Teilnehmende Institutionen
      </a>
    </li>
  </ul>
</nav>