<footer>
  <div class="footer-logos">
    <img
      class="footer-logo-sub"
      src="/images/sub.png"
      alt="Niedersächsische Staats- und Universitätsbibliothek Göttingen"
     >
    <img
      class="footer-logo-vzg"
      src="/images/vzg.png"
      alt="Verbundzentrale des GBV"
    >
  </div>
  <div class="footer-links">
    <a href="https://www.gbv.de/impressum">Impressum</a>
    <span class="separator"></span>
    <a href="https://www.gbv.de/datenschutz">Datenschutz</a>
  </div>
</footer>