<nav>
  <ul>
    <li class="nav-simple">
      <a href="/basisklassifikation/uebersetzungsprojekt/">
        Home
      </a>
    </li>
    <li class="nav-simple">
      <a href="/basisklassifikation/uebersetzungsprojekt/ueber-das-projekt/">
        Über das Projekt
      </a>
    </li>
    <li class="nav-simple">
      <a href="/basisklassifikation/uebersetzungsprojekt/teilnehmende-institutionen/">
        Teilnehmende Institutionen
      </a>
    </li>
  </ul>
</nav>