// Main color scheme // -------------------------------------------------------
@use 'sass:color';

$primary: #b13f13;
$background-primary: #e9e1e1;
$black: #212121;
$white: #F2F1EF;

// Colors derived from main colors // -----------------------------------------

$primary-light: scale-color($primary, $lightness: 20%, $saturation: -30%);

$background-secondary: color.adjust($background-primary, $lightness: 6%, $space: hsl);
// This results in #332b2b which is unfortunately hardcoded in some svg files...
$background-highlight: scale-color(color.adjust($background-primary, $lightness: -70%, $space: hsl), $red: -12%);
$background-accent: scale-color(color.adjust($background-primary, $lightness: 3%, $space: hsl), $red: 10%);

$text-primary: $black;
$text-highlight: $white;
