
$main: Roboto;
$fallback: Helvetica, sans-serif;

$size-smallest: 12px;
$size-smaller: 14px;
$size-small: 16px;
$size-normal: 18px;
$size-medium: 20px;
$size-large: 24px;
$size-larger: 28px;
$size-largest: 32px;
$size-largestest: 40px;

.font-size-smallest {
  font-size: $size-smallest ;
}
.font-size-smaller {
  font-size: $size-smaller;
}
.font-size-small, small {
  font-size: $size-small;
}
.font-size-normal {
  font-size: $size-normal;
}
.font-size-medium {
  font-size: $size-medium;
}
.font-size-large {
  font-size: $size-large;
}
.font-size-larger {
  font-size: $size-larger;
}
.font-size-largest {
  font-size: $size-largest;
}
.font-size-largestest {
  font-size: $size-largestest;
}
