$main: Nunito;
$fallback: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

$size-smaller: 12px;
$size-small: 14px;
$size-normal: 16.4px;
$size-medium: 20px;
$size-large: 24px;
$size-larger: 28px;
$size-largest: 32px;
$size-largestest: 36px;

.font-size-smaller {
  font-size: $size-smaller;
}
.font-size-small, small {
  font-size: $size-small;
}
.font-size-normal {
  font-size: $size-normal;
}
.font-size-medium {
  font-size: $size-medium;
}
.font-size-large {
  font-size: $size-large;
}
.font-size-larger {
  font-size: $size-larger;
}
.font-size-largest {
  font-size: $size-largest;
}
.font-size-largestest {
  font-size: $size-largestest;
}
