@use "colors";
@use "fonts";
@use "weights";
@use "responsive";

/* header */
.header {
  width: 100%;
  font-size: fonts.$size-normal;
  font-weight: weights.$bold;
  padding: 0 calc(0px + 25 * ((100vw - 300px) / 1300)) 0 calc(0px + 25 * ((100vw - 300px) / 1300));
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  color: colors.$text-primary;
}
.header li.current > a {
  background-color: transparent;
  color: inherit;
}
.header li a:hover {
  background-color: colors.$background-accent;
}
.header li.current > a:hover {
  background-color: colors.$background-accent;
}
.header li.menu-item-reduced-padding a {
  padding: 15px 10px;
}
.header li.menu-item-language a {
  font-size: 14px;
  line-height: 24px;
  padding: 3px 10px;
  position: relative;
}
.header li.menu-item-language a > .line {
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
  width: 100%;
  height: 0;
  max-width: 25px;
  margin: 0 auto;
}
.header .vzg-logo {
  float: left;
  padding: 10px 5px 0px 15px;
  height: 48px;
  text-decoration: none;
}
.vzg-logo > img {
  height: 28px;
}
.header .coli-conc-logo-small {
  float: left;
  text-decoration: none;
  padding: 5px 0 0 10px;
  height: 55px;
}
.header .coli-conc-logo-small > img {
  height: 100%;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 24px 20px;
  position: relative;
  user-select: none;
}
/* middle line */
.header .menu-icon .navicon {
  background: colors.$primary;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
}
/* top + bottom line */
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: colors.$primary;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu button */
.header #menu-button {
  display: none;
}
.header #menu-button:checked ~ .menu {
  max-height: 320px;
}
/* hides middle line when checked (i.e. clicked) */
.header #menu-button:checked ~ .menu-icon .navicon {
  background: transparent;
}
/* rotates top + bottom lines when checked */
.header #menu-button:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header #menu-button:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header #menu-button:checked ~ .menu-icon:not(.steps) .navicon:before,
.header #menu-button:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

// Hide dropdown on mobile
.dropdown .dropdown-menu {
  display: none;
}

@media (min-width: responsive.$small) {
  .header {
    padding-bottom: 30px;
  }
  .header ul, .menu-icon {
    margin-top: 10px;
  }
  .header ul {
    overflow: visible;
  }
  .header li {
    float: left;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header .coli-conc-logo-small {
    padding: 10px 0 0 0;
    height: 70px;
  }
  // Dropdown menu
  .dropdown {
    position: relative;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    box-shadow: 0 5px 5px colors.$background-accent;
  }
  .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    min-width: 100%;
  }
  .dropdown-menu > div {
    position: relative;
    z-index: 1000;
    background-color: colors.$background-accent;
  }
  .dropdown-menu > div > a {
    text-align: left;
  }
  .vzg-logo > img {
    margin-top: 12px;
  }
}
