@use "colors";
@use "fonts";
@use "weights";
@use "responsive";

/* header */
.header {
  width: 100%;
  font-size: 16px;
  font-weight: weights.$bold;
  padding: 0 calc(0px + (25) * ((100vw - 300px) / (1600 - 300))) 0 calc(0px + (25) * ((100vw - 300px) / (1600 - 300)));
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header ul, .menu-icon {
  margin-top: 10px;
}
.header li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  color: colors.$black;
}
.header li.current > a {
  background-color: colors.$background-dark;
  color: colors.$white;
}
.header li a:hover {
  background-color: colors.$highlight-light;
}
.header li.current > a:hover {
  background-color: colors.$highlight-dark;
}
.header li.menu-item-reduced-padding a {
  padding: 15px 10px;
}
.header li.menu-item-language a {
  font-size: 14px; // TODO: Put into variable?
  line-height: 24px;
  padding: 3px 10px;
  position: relative;
}
.header li.menu-item-language a > .line {
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
  width: 100%;
  height: 0;
  max-width: 25px;
  margin: 0 auto;
}
.header .vzg-logo, .header .coli-conc-logo-small {
  float: left;
  padding: 10px 5px 10px 15px;
  height: 68px;
  text-decoration: none;
}
.vzg-logo > img {
  height: 28px;
  margin-top: 12px;
}
.header .coli-conc-logo-small {
  float: right;
}
.coli-conc-logo-small > img {
  height: 100%;
}

/* menu */
.header .menu {
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 24px 20px;
  position: relative;
  user-select: none;
}
/* middle line */
.header .menu-icon .navicon {
  background: colors.$orange;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
}
/* top + bottom line */
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: colors.$orange;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu button */
.header #menu-button {
  display: none;
}
.header #menu-button:checked ~ .menu {
  clear: both;
  max-height: 350px;
}
// Hide coli-conc-logo because otherwise it'll jump down due to the clear: both; above.
.header #menu-button:checked ~ .coli-conc-logo-small {
  display: none;
}
/* hides middle line when checked (i.e. clicked) */
.header #menu-button:checked ~ .menu-icon .navicon {
  background: transparent;
}
/* rotates top + bottom lines when checked */
.header #menu-button:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header #menu-button:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header #menu-button:checked ~ .menu-icon:not(.steps) .navicon:before,
.header #menu-button:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

// Hide dropdown on mobile
.dropdown .dropdown-menu {
  display: none;
}

@media (min-width: responsive.$small) {
  .header {
    margin-bottom: 50px;
  }
  .header ul {
    overflow: visible;
  }
  .header li {
    float: left;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  // Dropdown menu
  .dropdown {
    position: relative;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    box-shadow: 0 5px 5px colors.$highlight-light;
  }
  .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    min-width: 100%;
  }
  .dropdown-menu > div {
    position: relative;
    z-index: 1000;
    background-color: colors.$background-light;
  }
  .dropdown-menu > div > a {
    text-align: left;
  }
}
