$tiny: 500px;
$small: 820px;
$medium: 1200px;

.small-show {
  display: none !important;
}

@media (max-width: $tiny) {
  .tiny-hide {
    display: none !important;
  }
}

@media (max-width: $small) {
  .small-hide {
    display: none !important;
  }
  .small-show {
    display: initial !important;
  }
}

@media (max-width: $medium) {
  .medium-hide {
    display: none !important;
  }
}
