@use "colors";
@use "fonts";
@use "weights";
@use "header";
@use "responsive";

// Smooth scrolling for anchor links
html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  font-family: fonts.$main, fonts.$fallback;
  font-weight: weights.$regular;
  line-height: 1.5;
  font-size: fonts.$size-normal;
  background-color: colors.$background-primary;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: weights.$bold;
  line-height: 1.2;
}
h1 {
  color: colors.$orange;
  font-size: fonts.$size-largestest;
  margin: 10px 0 12px 0;
}
h2 {
  font-size: fonts.$size-largest;
  margin: 10px 0 10px 0;
}
h3 {
  font-size: fonts.$size-larger;
  margin: 10px 0 7px 0;
}
h4 {
  font-size: fonts.$size-large;
  margin: 10px 0 7px 0;
}
h5 {
  font-size: fonts.$size-medium;
  margin: 10px 0 7px 0;
}
h6 {
  font-size: fonts.$size-larger;
  margin: 8px 0;
  padding: 12px 30px;
  display: inline-block;
  background-color: colors.$background-secondary;
}
h6, h6 > a {
  color: colors.$white;
}

.text-center {
  text-align: center;
}

// Lists in sections
section ul {
  list-style-type: square;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
section li {
  margin-top: 5px;
}
section li > p {
  margin: 5px 0;
}

// Normal links
a {
  color: colors.$orange;
  text-decoration: none;
  font-weight: weights.$bold;
}
a:hover {
  color: colors.$lightorange;
}

// Button links
a.button {
  background-color: colors.$orange;
  color: colors.$white;
  padding: calc(2px + (6 - 2) * ((100vw - 300px) / (1600 - 300))) calc(15px + (25 - 15) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
}
a.button:hover {
  background-color: colors.$lightorange;
}

section {
  position: relative;
  padding: calc(0px + (100vw - 300px) / 50) calc((100vw - 250px) / 6);
  color: colors.$text-primary;
}
// section:after {
//   content: "";
//   background: black;
//   position: absolute;
//   bottom: 0;
//   left: 15%;
//   width: 70%;
//   height: 2px;
// }
section.novpadding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.flexbox {
  display: flex;
  align-items: center;
}
.flex {
  padding: 5px 15px;
}
.flex p {
  margin: 8px 0;
}

table {
  width: 100%;
  font-size: fonts.$size-small;
}
th, td {
  vertical-align: middle;
  padding: 5px 5px;
}
section tr:nth-child(even) {
  background-color: colors.$highlight-primary;
}
table img {
  display: block;
}

pre {
  overflow: scroll;
  border-radius: 5px;
  margin: 0;
  padding: 4px 8px;
  background-color: colors.$background-primary;
}
section pre {
  background-color: colors.$highlight-primary;
}

section img.image {
  border: 5px solid colors.$background-primary;
}
section img.image {
  border-color: colors.$highlight-primary;
}

.footer {
  padding: 10px;
  text-align: center;
  font-size: fonts.$size-small;
}

.badge {
  display: inline-block;
  padding: 4px 5px 3px 5px;
  margin: 0 4px;
  font-size: 75%;
  font-weight: weights.$bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: .25rem;
}
.badge-default {
  background-color: colors.$highlight-secondary;
  color: colors.$text-secondary;
}
.badge-alternative {
  background-color: colors.$highlight-primary;
  color: colors.$text-primary;
}

.collapsible, .collapsible ul {
  list-style: none;
  padding-left: 25px;
}
.collapsible {
  padding-left: 0px;
}
.collapsible li::before {
  content: "\200B";
}
.collapsible li > input[type="checkbox"] ~ label {
  user-select: none;
  -webkit-user-select: none;
}
.collapsible li.has-children > input[type="checkbox"] ~ label {
  cursor: pointer;
}
.collapsible li > input[type="checkbox"] ~ label::before {
  width: calc(24px + (26 - 22) * ((100vw - 300px) / (1600 - 300)));
  display: inline-block;
  content: " ";
}
.collapsible li.has-children > input[type="checkbox"] ~ label::before {
  content: " ▶️";
}
.collapsible li.has-children > input[type="checkbox"]:checked ~ label::before {
  content: " 🔽";
}
.collapsible input[type="checkbox"] {
  width: 0px;
  opacity: 0;
}
.collapsible input[type="checkbox"] ~ ul{
  display: none;
}
.collapsible input[type="checkbox"]:checked ~ ul{
  display: block;
}
