@use "colors";
@use "fonts";
@use "weights";
@use "header";
@use "responsive";

// Smooth scrolling for anchor links
html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  font-family: fonts.$main, fonts.$fallback;
  font-weight: weights.$regular;
  line-height: 1.5;
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  color: colors.$orange;
  font-weight: weights.$regular;
  line-height: 1.2;
}
h1 {
  font-size: 1.5em;
  margin: 15px 0;
}
h2 {
  font-size: 1.35em;
  margin: 12px 0;
}
h3 {
  font-size: 1.2em;
  margin: 10px 0;
}
h4 {
  font-size: 1.05em;
  margin: 8px 0;
  padding: 12px 30px;
  display: inline-block;
  font-weight: weights.$bold;
  background-color: colors.$background-dark;
  color: colors.$lightorange;
}
section.dark h4 {
  background-color: colors.$background-light;
  color: colors.$orange;
}
section.dark h1, section.dark h2, section.dark h3 {
  color: colors.$lightorange;
}

.text-center {
  text-align: center;
}

// Lists in sections
section li {
  margin-top: 20px;
}
section li > p {
  margin: 5px 0;
}

// Normal links
a {
  color: colors.$orange;
  text-decoration: none;
  font-weight: weights.$bold;
}
section.dark a {
  color: colors.$lightorange;
}
a:hover {
  color: colors.$lightorange;
}
section.dark a:hover {
  color: colors.$orange;
}
// Button links
a.button {
  background-color: colors.$orange;
  color: colors.$white;
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
}
a.button:hover {
  background-color: colors.$lightorange;
}

section {
  text-align: justify;
  position: relative;
  padding: 20px 5%;
}
section.dark {
  background: colors.$background-dark;
  color: colors.$white;
}
section.light {
  background: colors.$background-light;
  color: colors.$black;
}
section.novpadding {
  padding-top: 0px;
  padding-bottom: 0px;
}

// For larger screens
@media (min-width: responsive.$small) {
  body {
    font-size: 1.25em;
  }
  h1 {
    font-size: 1.75em;
    margin: 18px 0;
  }
  h2 {
    font-size: 1.6em;
    margin: 15px 0;
  }
  h3 {
    font-size: 1.45em;
    margin: 12px 0;
  }
  h4 {
    font-size: 1.3em;
    margin: 10px 0;
  }
  a.button {
    padding: 6px 25px;
  }
  section {
    padding: 75px 20%;
  }
}

.flexbox {
  display: flex;
  align-items: center;
}
.flex {
  padding: 5px 15px;
}
.flex p {
  margin: 8px 0;
}

.footer {
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
}
