/**
CSS for /cocoda page
*/

.cocoda-video {
  width: 100%;
}
.cocoda-video > div {
  margin: 10px auto;
  width: 90%;
  max-width: 600px;
  border: 2px solid black;
}
.cocoda-video > div > video {
  display: block;
  width: 100%;
}

// Center video for smaller screens
@media (min-width: 1150px) {
  .cocoda-video {
    float: right;
    width: auto;
  }
  .cocoda-video > div {
    margin: 10px 0 10px 20px;
  }
}

// Only clear up to a certain screen width (after that, the buttons fit next to the video)
@media (max-width: 1330px) {
  .cocoda-clear {
    clear: both;
  }
}
