@use "responsive";
@use "colors";
@use "weights";

.coli-conc-logo {
  display: block;
  margin-top: calc(0px + (10) * ((100vw - 300px) / (1600 - 300)));
}

.coli-conc-logo > img {
  max-width: 200px;
  width: 20%;
  min-width: 100px;
}

.cocoda-wrapper p {
  margin: 5px 0 10px 0;
}
.cocoda-wrapper h3 {
  margin-bottom: 0px;
  color: colors.$orange;
}

.cocoda {
  display: block;
  width: 100%;
  display:flex;justify-content:center;align-items:flex-end;
}
.cocoda > img {
  width: calc(45vw + (50 - 45) * ((100vw - 300px) / (1600 - 300)));;
  min-width: 300px;
  max-width: 600px;
  box-shadow: -4px 8px 99px #26262633;
  border: 3px solid colors.$background-tertiary;
  border-bottom-style: none;
}

.wave {
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: 0px;
  left: 0;
}

.wave > path {
  fill: colors.$highlight-primary;
}
