@use "responsive";
@use "colors";
@use "weights";

.coli-conc-logo {
  display: block;
  margin-top: calc(0px + (10) * ((100vw - 300px) / (1600 - 300)));
}

.coli-conc-logo > img {
  max-width: 200px;
  width: 20%;
  min-width: 100px;
}

.cocoda {
  display: flex;
  text-align: left;
}
.cocoda > :first-child {
  flex: 1.5;
  display: block;
  width: calc(35vw + (50 - 35) * ((100vw - 300px) / (1600 - 300)));;
  align-self: flex-end;
  margin-top: calc(0px + (20) * ((100vw - 300px) / (1600 - 300)));;
  display:flex;justify-content:center;align-items:flex-end;
}
.cocoda > :first-child > img {
  width: 100%;
  max-width: 600px;
  box-shadow: -4px 8px 99px #26262633;
  border: 3px solid colors.$background-secondary;
  border-bottom-style: none;
}
.cocoda > :last-child {
  flex: 1;
  padding-left: 20px;
}
.cocoda > :last-child > p {
  margin: 0;
  margin-top: calc(0px + (30) * ((100vw - 300px) / (1600 - 300)));;
  margin-bottom: calc(5px + (10) * ((100vw - 300px) / (1600 - 300)));;
  font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
  color: colors.$orange;
  font-weight: weights.$bold;
}

.wave {
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: -20px;
  left: 0;
}

.wave > path {
  fill: colors.$highlight-primary;
}
