.conc-nav{
  margin-left:15px;
  margin-bottom:35px;
}
.conc-message{
  padding:70px;
  text-align:center;
}
.conc-info{
  padding:40px;
}
.conc-inputs{
  float:left;
}
.conc-inputs input{
  width:170px;
  margin-right:15px;
  margin-bottom:10px;
}
.conc-inputs button{
  margin-top:1.45em;
}
.conc-inputs button span{
  font-size:1.3em;
  padding:4px;
}