<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# Handle redirects #}
  {% if redirect %}
  <meta http-equiv="refresh" content="0; url={{ redirect }}">
  <script type="text/javascript">
      window.location.href = "{{ redirect }}"
  </script>
  {% endif %}
  <title>coli-conc - {{ title | localize }}</title>
  <style>
    {% set totalcss %}
    /* roboto-300 - latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-display: swap;
      font-weight: 300;
      src: url('{{ "/fonts/roboto-v20-latin-300.eot" | urla }}'); /* IE9 Compat Modes */
      src: local('Roboto Light'), local('Roboto-Light'),
          url('{{ "/fonts/roboto-v20-latin-300.eot?#iefix" | urla }}') format('embedded-opentype'), /* IE6-IE8 */
          url('{{ "/fonts/roboto-v20-latin-300.woff2" | urla }}') format('woff2'), /* Super Modern Browsers */
          url('{{ "/fonts/roboto-v20-latin-300.woff" | urla }}') format('woff'), /* Modern Browsers */
          url('{{ "/fonts/roboto-v20-latin-300.ttf" | urla }}') format('truetype'), /* Safari, Android, iOS */
          url('{{ "/fonts/roboto-v20-latin-300.svg#Roboto" | urla }}') format('svg'); /* Legacy iOS */
    }
    /* roboto-regular - latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-display: swap;
      font-weight: 400;
      src: url('{{ "/fonts/roboto-v20-latin-regular.eot" | urla }}'); /* IE9 Compat Modes */
      src: local('Roboto'), local('Roboto-Regular'),
          url('{{ "/fonts/roboto-v20-latin-regular.eot?#iefix" | urla }}') format('embedded-opentype'), /* IE6-IE8 */
          url('{{ "/fonts/roboto-v20-latin-regular.woff2" | urla }}') format('woff2'), /* Super Modern Browsers */
          url('{{ "/fonts/roboto-v20-latin-regular.woff" | urla }}') format('woff'), /* Modern Browsers */
          url('{{ "/fonts/roboto-v20-latin-regular.ttf" | urla }}') format('truetype'), /* Safari, Android, iOS */
          url('{{ "/fonts/roboto-v20-latin-regular.svg#Roboto" | urla }}') format('svg'); /* Legacy iOS */
    }
    /* roboto-500 - latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-display: swap;
      font-weight: 500;
      src: url('{{ "/fonts/roboto-v20-latin-500.eot" | urla }}'); /* IE9 Compat Modes */
      src: local('Roboto Medium'), local('Roboto-Medium'),
          url('{{ "/fonts/roboto-v20-latin-500.eot?#iefix" | urla }}') format('embedded-opentype'), /* IE6-IE8 */
          url('{{ "/fonts/roboto-v20-latin-500.woff2" | urla }}') format('woff2'), /* Super Modern Browsers */
          url('{{ "/fonts/roboto-v20-latin-500.woff" | urla }}') format('woff'), /* Modern Browsers */
          url('{{ "/fonts/roboto-v20-latin-500.ttf" | urla }}') format('truetype'), /* Safari, Android, iOS */
          url('{{ "/fonts/roboto-v20-latin-500.svg#Roboto" | urla }}') format('svg'); /* Legacy iOS */
    }
    {% include "css/base.css" ignore missing -%}
    {%- for css_ in css | default([]) -%}
      {%- include "css/" + css_ + ".css" ignore missing -%}
    {%- endfor -%}
    {% endset %}
    {{ totalcss | cssmin | safe }}
  </style>
</head>
<body>
  {# Included hypothes.is when deloyed to GitHub Pages #}
  {% if env.URL.startsWith("https://gbv.github.io") %}
  <script type="application/json" class="js-hypothesis-config">
  {
    "showHighlights": "whenSidebarOpen",
  }
  </script>
  <script async src="https://hypothes.is/embed.js"></script>
  {% endif %}
  {% if js and js.vue %}
  <script src="{{ '/js/vue.min.js' | urla }}"></script>
  {% endif %}
  {% if js and js.axios %}
  <script src="{{ '/js/axios.min.js' | urla }}"></script>
  {% endif %}
  <a name="top"></a>
  <header class="header">
    <a href="https://www.gbv.de/Verbundzentrale{% if locale == "en" %}-en{% endif %}" class="vzg-logo">
      <img
        src="{{ '/images/vzg-300px.png' | urla }}"
        srcset="{{ '/images/vzg-150px.png' | urla }} 150w, {{ '/images/vzg-300px.png' | urla }} 300w"
        sizes="150px">
    </a>
    <input type="checkbox" id="menu-button" />
    <label class="menu-icon" for="menu-button"><span class="navicon"></span></label>
    <ul class="menu">
      {# For the index page, we want to have anchor links (which have to be localized), for other pages, we want links to the respective pages. #}
      {% if page.url == "/" %}
        {% set newsLink = "#" + (strings.sections.news | localize | slug) %}
        {% set servicesLink = "#" + (strings.sections.services | localize | slug) %}
        {% set partnersLink = "#" + (strings.sections.partners | localize | slug) %}
        {% set contactLink = "#" + (strings.sections.contact | localize | slug) %}
      {% else %}
        {% set newsLink = "/blog/" | url %}
        {% set servicesLink = "/services/" | url %}
        {% set partnersLink = "/partners/" | url %}
        {% set contactLink = "/contact/" | url %}
      {% endif %}
      <li><a href="{{ newsLink }}">{{ strings.sections.news | localize }}</a></li>
      <li class="dropdown">
        <a href="{{ servicesLink }}">{{ strings.sections.services | localize }}</a>
        <div class="dropdown-menu">
          <div><a href="{{ '/cocoda/' | url }}">Cocoda</a></div>
          <div><a href="{{ '/publications/kostypes/' | url }}">{{ strings.sections.services.kosTypes | localize }}</a></div>
          <div><a href="{{ '/terminologies/' | url }}">{{ strings.sections.services.kosRegistry | localize }}</a></div>
          <div><a href="{{ '/concordances/' | url }}">{{ strings.sections.services.concordanceRegistry | localize }}</a></div>
          <div><a href="https://coli-conc.gbv.de/api/mappings" target="_blank">{{ strings.sections.services.mappingsApi | localize }}</a></div>
        </div>
      </li>
      <li class="dropdown">
        <a href="{{ '/publications/' | url }}">{{ strings.sections.publications | localize }}</a>
        <div class="dropdown-menu">
          <div><a href="{{ '/publications/software/' | url }}">{{ strings.sections.publications.software | localize }}</a></div>
          <div><a href="{{ '/publications/data/' | url }}">{{ strings.sections.publications.data | localize }}</a></div>
          <div><a href="{{ '/publications/licenses/' | url }}" target="_blank">{{ strings.sections.publications.licenses | localize }}</a></div>
        </div>
      </li>
      <li><a href="{{ partnersLink }}">{{ strings.sections.partners | localize }}</a></li>
      <li><a href="{{ contactLink }}">{{ strings.sections.contact | localize }}</a></li>
      <li class="menu-item-reduced-padding">
        {% if locale == "de" %}
        <a href="{{ page.url | urla }}">
          <img src="{{ '/images/flag-en.svg' | urla }}" width="20px">
        </a>
        {% else %}
        <a href="{{ ('/de' + page.url) | url }}">
          <img src="{{ '/images/flag-de.svg' | urla }}" width="20px">
        </a>
        {% endif %}
      </li>
    </ul>
    {% clear %}
  </header>
  <main id="main">
    {% if redirect %}
      {% section "text-center" %}
{{ { en: "Redirecting to", de: "Weiterleitung auf" } | localize }} [{{ redirect }}]({{ redirect }}) ({{ { en: "click link if nothing happens", de: "Link anklicken, falls nichts passiert" } | localize }})...
      {% endsection %}
      {% section "dark" %}{% endsection %}
    {% else %}
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    {% endif %}
  </main>
  <footer class="footer">
    {% markdown %}
{% include locale + "/footer.md" %}
    {% endmarkdown %}
  </footer>
</body>
</html>
