<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>coli-conc - {{ title }}</title>
  <style>
    /* roboto-300 - latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      src: url('{{ "/fonts/roboto-v20-latin-300.eot" | urla }}'); /* IE9 Compat Modes */
      src: local('Roboto Light'), local('Roboto-Light'),
          url('{{ "/fonts/roboto-v20-latin-300.eot?#iefix" | urla }}') format('embedded-opentype'), /* IE6-IE8 */
          url('{{ "/fonts/roboto-v20-latin-300.woff2" | urla }}') format('woff2'), /* Super Modern Browsers */
          url('{{ "/fonts/roboto-v20-latin-300.woff" | urla }}') format('woff'), /* Modern Browsers */
          url('{{ "/fonts/roboto-v20-latin-300.ttf" | urla }}') format('truetype'), /* Safari, Android, iOS */
          url('{{ "/fonts/roboto-v20-latin-300.svg#Roboto" | urla }}') format('svg'); /* Legacy iOS */
    }
    /* roboto-regular - latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: url('{{ "/fonts/roboto-v20-latin-regular.eot" | urla }}'); /* IE9 Compat Modes */
      src: local('Roboto'), local('Roboto-Regular'),
          url('{{ "/fonts/roboto-v20-latin-regular.eot?#iefix" | urla }}') format('embedded-opentype'), /* IE6-IE8 */
          url('{{ "/fonts/roboto-v20-latin-regular.woff2" | urla }}') format('woff2'), /* Super Modern Browsers */
          url('{{ "/fonts/roboto-v20-latin-regular.woff" | urla }}') format('woff'), /* Modern Browsers */
          url('{{ "/fonts/roboto-v20-latin-regular.ttf" | urla }}') format('truetype'), /* Safari, Android, iOS */
          url('{{ "/fonts/roboto-v20-latin-regular.svg#Roboto" | urla }}') format('svg'); /* Legacy iOS */
    }
    /* roboto-500 - latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: url('{{ "/fonts/roboto-v20-latin-500.eot" | urla }}'); /* IE9 Compat Modes */
      src: local('Roboto Medium'), local('Roboto-Medium'),
          url('{{ "/fonts/roboto-v20-latin-500.eot?#iefix" | urla }}') format('embedded-opentype'), /* IE6-IE8 */
          url('{{ "/fonts/roboto-v20-latin-500.woff2" | urla }}') format('woff2'), /* Super Modern Browsers */
          url('{{ "/fonts/roboto-v20-latin-500.woff" | urla }}') format('woff'), /* Modern Browsers */
          url('{{ "/fonts/roboto-v20-latin-500.ttf" | urla }}') format('truetype'), /* Safari, Android, iOS */
          url('{{ "/fonts/roboto-v20-latin-500.svg#Roboto" | urla }}') format('svg'); /* Legacy iOS */
    }
    {% include "css/base.css" ignore missing -%}
    {%- for css_ in css | default([]) -%}
      {%- include "css/" + css_ + ".css" ignore missing -%}
    {%- endfor -%}
  </style>
</head>
<body>
  <header class="header">
    <a href="" class="vzg-logo">
      <img src="{{ '/images/vzg.png' | urla }}">
    </a>
    <input type="checkbox" id="menu-button" />
    <label class="menu-icon" for="menu-button"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="{{ '/#news' | url }}">{{ strings.navbar.news | localize }}</a></li>
      <li><a href="{{ '/#services' | url }}">{{ strings.navbar.services | localize }}</a></li>
      <li><a href="{{ '/#partners' | url }}">{{ strings.navbar.partners | localize }}</a></li>
      <li><a href="{{ '/publications/' | url }}">{{ strings.navbar.publications | localize }}</a></li>
      <li><a href="{{ '/#contact' | url }}">{{ strings.navbar.contact | localize }}</a></li>
      <li>
        {% if locale == "de" %}
        <a href="{{ '/' | urla }}">
          <img src="{{ '/images/flag-en.svg' | urla }}" width="20px">
        </a>
        {% else %}
        <a href="{{ '/de/' | url }}">
          <img src="{{ '/images/flag-de.svg' | urla }}" width="20px">
        </a>
        {% endif %}
      </li>
    </ul>
    {% clear %}
  </header>
  <main>
    {% block content %}
    {{ content | safe }}
    {% endblock %}
  </main>
  <footer class="footer">
    {% markdown %}
coli-conc is a project of [Verbundzentrale des GBV (VZG)](https://www.gbv.de/), [funded by](http://gepris.dfg.de/gepris/projekt/276843344) German Research Foundation (DFG)

[Impressum](https://www.gbv.de/impressum) | [Datenschutz](https://www.gbv.de/datenschutz) | [Source]({{ pkg.homepage }}/tree/master{{ page.inputPath.replace("./", "/") }}) | [Twitter @coli_conc](https://twitter.com/coli_conc)

Please note that this site is currently under development.
    {% endmarkdown %}
  </footer>
</body>
</html>
