---
layout: layouts/base.njk
permalink: "/blog/{{ page.date | date('YYYY/MM/DD') }}/{{ page.fileSlug }}/"
---

{% section "text-center novpadding" %}
<a href="{{ '/' | url }}" class="coli-conc-logo-small" title="Go to start page">
  <img src="{{ '/images/coli-conc.svg' | urla }}" alt="coli-conc Logo">
</a>

# {{ title | localize }}
{{ subtitle | localize }}
{% if series %}
 [{{ series }} {{ number }}]({{"/publications/#reports" | url }})
{% endif %}

{{ page.date | date("YYYY-MM-DD") }}

{% if doi %}<https://doi.org/{{ doi }}>{% endif %}
{% if license %}{{ license }}{% endif %}

{% for author in author | default([]) %}
  {{ author.name }} {% if author.email %}<[{{ author.email }}](mailto:{{ author.email }})>{% endif %}
  {% if author.affiliation %}({{ author.affiliation }}){% endif %}
{% endfor %}

{% endsection %}

{% section "", "padding-top: 5px;" %}
{{ content | safe }}
{% endsection %}

{% section %}
###### {{ { en: "More Posts", de: "Mehr Beiträge" } | localize }}
{% div "news" %}
{% set postLimit = 6 %}
{%- for post in collections.blog | reverse -%}
  {# Show 6 latest news. #}
  {% if page.url == post.url %}
    {# If list includes current post, up the limit to 7 posts. #}
    {% set postLimit = 7 %}
  {% elif loop.index0 < postLimit %}
    {% div "entry" %}
      {% div "date" %}{{ post.date | date("YYYY-MM-DD") }}{% enddiv %}
      {% div "title" %}[{{ post.data.title }}]({{ post.url | url }}){% enddiv %}
      {% div "excerpt" %}{{ post.data.excerpt }}{% enddiv %}
    {% enddiv %}
  {% endif %}
{%- endfor -%}
{% enddiv %}
{% if collections.blog.length > postLimit %}
  {% div "news-more" %}[{{ { en: "All Posts", de: "Alle Beiträge" } | localize }}]({{ "/blog/" | url }}){% enddiv %}
{% endif %}

{% endsection %}
