---
layout: layouts/base.njk
permalink: "/blog/{{ page.date | date('YYYY/MM/DD') }}/{{ page.fileSlug }}/"
---

{% section "text-center novpadding" %}
<a href="{{ '/' | url }}" class="coli-conc-logo-small">
  <img src="{{ '/images/coli-conc.svg' | urla }}">
</a>

{% set title = title | default(series + " " + number) %}

# {{ title | localize }}
{{ subtitle | localize }}

{{ page.date | date("YYYY-MM-DD") }}

{% div "", "text-align: left;" %}

{% for author in author | default([]) %}
  {{ author.name }} {% if author.email %}<[{{ author.email }}](mailto:{{ author.email }})>{% endif %}
  {% if author.affiliation %}<br>{{ author.affiliation }}{% endif %}
{% endfor %}
{% if doi %}DOI: [{{ doi }}](https://doi.org/{{ doi }}){% endif %}
{% if license %}<br>{{ license }}{% endif %}

{% enddiv %}

{% endsection %}

{% section "", "padding-top: 5px;" %}
{{ content | safe }}
{% endsection %}

{% section %}
###### {{ { en: "More Posts", de: "Mehr Beiträge" } | localize }}
{% flexbox "row", "flex-wrap: wrap; text-align: center;  align-items: flex-start;" %}
{%- for post in collections.blog | reverse -%}
  <!-- Show 6 latest news. -->
  {% if loop.index0 < 6 and page.url != post.url %}
  {% flex "1", "flex-basis: 300px;" %}
  <span class="font-weight-bold">{{ post.date | date("YYYY-MM-DD") }}</span>

  [{{ post.data.title }}]({{ post.url | url }})

  {{ post.data.excerpt }}
  {% endflex %}
  {% endif %}
  {% if loop.index0 == 6 %}
  {% flex "1", "flex-basis: 300px;" %}
  <p>&#8203;</p>

  [{{ { en: "All Posts", de: "Alle Beiträge" } | localize }}]({{ "/blog/" | url }})
  {% endflex %}
  {% endif %}
{%- endfor -%}
{% endflexbox %}

{% endsection %}
