---
layout: layouts/page.njk
css:
- cocoda
---

{% section %}

  <div class="cocoda-video">
    <div>
      <video autoplay controls loop muted playsinline>
        <source src="{{ '/images/cocoda-quick-screencast.webm' | urla }}" type="video/webm">
        <source src="{{ '/images/cocoda-quick-screencast.mp4' | urla }}" type="video/mp4">
      </video>
    </div>
  </div>
  {{ content | safe }}

{% endsection %}

{% section %}
{% markdown %}

###### {{ { en: "Release History", de: "Versionsgeschichte" } | localize }}
{% if locale == "de" %}
Die nachfolgende Tabelle listet alle vergangenen Releases auf; die meisten davon können weiterhin genutzt werden. Der erste Prototyp von Cocoda wurde im Februar 2014 gestartet: Der Quellcode ist [auf GitHub archiviert](https://github.com/gbv/cocoda-prototype) und [dieser Screencast](https://vimeo.com/309446476) vermittelt einen Eindruck.
{% else %}
The following table lists all releases; most of them can still be used. The first prototype of Cocoda was started in February 2014: The source is [archived on GitHub](https://github.com/gbv/cocoda-prototype) and [this screencast](https://vimeo.com/309446476) gives an impression.
{% endif %}
{% endmarkdown %}

  <table style="width: 100%; text-align: center;">
  <thead>
    <tr>
      <th>Version</th>
      <th>{{ { en: "Date", de: "Datum" } | localize}}</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
  {% for build in cocoda %}
  <tr>
    <td>{{ build.name }}</td>
    <td>{{ build.date | date('YYYY-MM-DD')  }}</td>
    <td>
      <a href="https://coli-conc.gbv.de/cocoda/{{ build.name }}/" target="_blank">start</a>
    </td>
  </tr>
  {%- endfor -%}
  </tbody>
  </table>

{% endsection %}
