---
layout: layouts/base.njk
---

<div class="text-center">
  <a href="{{ '/' | url }}">
    <img src="{{ '/images/coli-conc.svg' | urla }}">
  </a>
</div>

{% section "text-center novpadding" %}

# {{ title | localize }}
{{ subtitle | localize }}

{% endsection %}

{{ content | safe }}
